<footer class="text-muted nav-footer">
  <div class="container">
    <p class="float-right">
      <a href="#">
        Voltar ao topo
      </a>
    </p>
    <p>
      Esta é uma aplicação que exibe uma listagem de produtos consumindo um endpoint.
    </p>
    <p>
      O repositório dessa aplicação se encontra em:
      <a href="https://github.com/antoniolopesjr/products-list">
        Github
      </a>
      .
    </p>
  </div>
</footer>